In [4]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

import os
os.chdir("/content/gdrive/My Drive/112_2_LATIA/0312/") # 切換目錄
!ls -l "/content/gdrive/My Drive/112_2_LATIA/0312/" # 列出目錄下的檔案
#!ls -l "自行填寫正確的路徑"

Mounted at /content/gdrive/
total 20276
-rw------- 1 root root    92484 Mar 12 06:40 112_student.csv
-rw------- 1 root root     4829 Mar 12 06:17 std_each_week_study_tf.csv
-rw------- 1 root root 20659344 Jul  4  2019 TaipeiSansTCBeta-Regular.ttf
-rw------- 1 root root     4618 Mar 12 07:01 week4.ipynb

In [34]:
import pandas as pd

csv_file = './112_student.csv'
#csv_file ="自行填寫正確的路徑"

#columns = [
#    "學年度","學校代碼","學校名稱","日間∕進修別","等級別","總計","男生計",
#    "女生計","一年級男","一年級女","二年級男","二年級女","三年級男","三年級女",
#    "四年級男","四年級女","五年級男","五年級女","六年級男","六年級女",
#    "七年級男","七年級女","延修生男","延修生女","縣市名稱","體系別"
#]
df = pd.read_csv(csv_file) # 讀取csv檔案
print(df.head(), '\n')

#查看資料欄位資訊
print('\n', df.info(verbose=True, show_counts=True))

print('\n', df.isna().sum()) # 計算缺失數量並印出來

#查看資料的統計學資訊描述
print('\n', df.describe(include='all'))

   學年度  學校代碼    學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  五年級男  \
0  112     1  國立政治大學    D 日  D 博士   921   517   404    86    69  ...    63
1  112     1  國立政治大學    D 日  M 碩士  4231  1835  2396   598   809  ...     2
2  112     1  國立政治大學    N 職  M 碩士  1903   938   965   262   304  ...    77
3  112     1  國立政治大學    D 日  B 學士  9763  3928  5835   906  1349  ...     0
4  112     2  國立清華大學    D 日  D 博士  1636  1131   505   206    93  ...   140

   五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別
0    52    68    37    66    50     0     0  30 臺北市  1 一般
1     1     1     0     0     0     0     0  30 臺北市  1 一般
2    57     0     0     0     0     0     0  30 臺北市  1 一般
3     0     0     0     0     0   316   499  30 臺北市  1 一般
4    60   110    50   115    56     0     0  18 新竹市  1 一般

[5 rows x 26 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   學年度     764 non-null    int64
 1   學校代碼    764 non-null    int64
 2   學校名稱    764 non-null    object
 3   日間∕進修別  764 non-null    object
 4   等級別     764 non-null    object
 5   總計      764 non-null    int64
 6   男生計     764 non-null    int64
 7   女生計     764 non-null    int64
 8   一年級男    764 non-null    int64
 9   一年級女    764 non-null    int64
 10  二年級男    764 non-null    int64
 11  二年級女    764 non-null    int64
 12  三年級男    764 non-null    int64
 13  三年級女    764 non-null    int64
 14  四年級男    764 non-null    int64
 15  四年級女    764 non-null    int64
 16  五年級男    764 non-null    int64
 17  五年級女    764 non-null    int64
 18  六年級男    764 non-null    int64
 19  六年級女    764 non-null    int64
 20  七年級男    764 non-null    int64
 21  七年級女    764 non-null    int64
 22  延修生男    764 non-null    int64
 23  延修生女    764 non-null    int64
 24  縣市名稱    764 non-null    object
 25  體系別     764 non-null    object
dtypes: int64(21), object(5)
memory usage: 155.3+ KB

 None

 學年度       0
學校代碼      0
學校名稱      0
日間∕進修別    0
等級別       0
總計        0
男生計       0
女生計       0
一年級男      0
一年級女      0
二年級男      0
二年級女      0
三年級男      0
三年級女      0
四年級男      0
四年級女      0
五年級男      0
五年級女      0
六年級男      0
六年級女      0
七年級男      0
七年級女      0
延修生男      0
延修生女      0
縣市名稱      0
體系別       0
dtype: int64

           學年度         學校代碼    學校名稱 日間∕進修別   等級別            總計           男生計  \
count   764.0   764.000000     764    764   764    764.000000    764.000000
unique    NaN          NaN     145      4    10           NaN           NaN
top       NaN          NaN  弘光科技大學    D 日  M 碩士           NaN           NaN
freq      NaN          NaN      10    448   249           NaN           NaN
mean    112.0   756.200262     NaN    NaN   NaN   1433.022251    708.655759
std       0.0   504.152506     NaN    NaN   NaN   2633.932756   1385.170171
min     112.0     1.000000     NaN    NaN   NaN      1.000000      0.000000
25%     112.0    48.000000     NaN    NaN   NaN    103.750000     43.750000
50%     112.0  1029.000000     NaN    NaN   NaN    373.500000    180.000000
75%     112.0  1060.000000     NaN    NaN   NaN   1387.500000    590.500000
max     112.0  3002.000000     NaN    NaN   NaN  19466.000000  10885.000000

                 女生計         一年級男         一年級女  ...        五年級男        五年級女  \
count     764.000000   764.000000   764.000000  ...  764.000000  764.000000
unique           NaN          NaN          NaN  ...         NaN         NaN
top              NaN          NaN          NaN  ...         NaN         NaN
freq             NaN          NaN          NaN  ...         NaN         NaN
mean      724.366492   177.971204   173.545812  ...   11.871728   20.469895
std      1348.848241   349.047086   321.080379  ...   32.233288   81.117153
min         0.000000     0.000000     0.000000  ...    0.000000    0.000000
25%        50.000000     5.000000     4.000000  ...    0.000000    0.000000
50%       166.000000    41.000000    37.000000  ...    0.000000    0.000000
75%       718.500000   161.250000   188.250000  ...    6.000000    6.000000
max     10716.000000  2709.000000  2519.000000  ...  309.000000  897.000000

              六年級男        六年級女        七年級男        七年級女         延修生男  \
count   764.000000  764.000000  764.000000  764.000000   764.000000
unique         NaN         NaN         NaN         NaN          NaN
top            NaN         NaN         NaN         NaN          NaN
freq           NaN         NaN         NaN         NaN          NaN
mean      4.810209    3.615183    2.955497    1.742147    36.647906
std      19.818557   13.204157   17.768959    8.937397    98.370926
min       0.000000    0.000000    0.000000    0.000000     0.000000
25%       0.000000    0.000000    0.000000    0.000000     0.000000
50%       0.000000    0.000000    0.000000    0.000000     0.000000
75%       0.000000    0.000000    0.000000    0.000000    21.000000
max     179.000000  125.000000  312.000000  132.000000  1448.000000

               延修生女    縣市名稱   體系別
count    764.000000     764   764
unique          NaN      24     3
top             NaN  30 臺北市  2 技職
freq            NaN     120   468
mean      27.591623     NaN   NaN
std       74.731977     NaN   NaN
min        0.000000     NaN   NaN
25%        0.000000     NaN   NaN
50%        0.000000     NaN   NaN
75%       18.250000     NaN   NaN
max     1107.000000     NaN   NaN

[11 rows x 26 columns]

In [35]:
 #import xxxx as yy 匯入xxxx當作yy
# set_printoptions() 設定列印的參數
# iloc[] 指定位置元素


import numpy as np
np.set_printoptions(precision=None, threshold=None, edgeitems=None, linewidth=None, suppress=None, nanstr=None, infstr=None, formatter=None, sign=None, floatmode=None)  # reset print options
##threshold
# 當要列印的陣列太大時，NumPy會自動以...代替一部分的內容，以減少篇幅！
# 但是可以透過全域設定set_printoptions設定threshold(門檻值)，
# 元素數量少於或等於門檻值的陣列就會全部列印出來，
# 相反地，元素數量高於門檻值，列印時就會省略部分內容。
# 陣列大小:20，門檻值20 => 陣列元素數量小於等於門檻值，應列印全部內容
# 讓列印出來的資料不斷行，使用lindwidth參數
# 讓列印出來的資料不斷列，使用threshold參數

# 查看 df 前幾筆資料並且讓列印出來的資料不斷行
np.set_printoptions(linewidth=np.inf, threshold=np.inf)
#np.set_printoptions(threshold=12, linewidth=30, edgeitems=0)
print(df.iloc[0:100,])

    學年度  學校代碼      學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  五年級男  \
0   112     1    國立政治大學    D 日  D 博士   921   517   404    86    69  ...    63
1   112     1    國立政治大學    D 日  M 碩士  4231  1835  2396   598   809  ...     2
2   112     1    國立政治大學    N 職  M 碩士  1903   938   965   262   304  ...    77
3   112     1    國立政治大學    D 日  B 學士  9763  3928  5835   906  1349  ...     0
4   112     2    國立清華大學    D 日  D 博士  1636  1131   505   206    93  ...   140
..  ...   ...       ...    ...   ...   ...   ...   ...   ...   ...  ...   ...
95  112    25  國立臺北科技大學    D 日  M 碩士  3558  2535  1023  1060   402  ...     0
96  112    25  國立臺北科技大學    N 職  M 碩士  1604  1110   494   339   172  ...    34
97  112    25  國立臺北科技大學    D 日  B 四技  6371  4444  1927  1079   499  ...     0
98  112    25  國立臺北科技大學    N 修  B 四技  1197   984   213   161    38  ...     0
99  112    25  國立臺北科技大學    D 日  C 二技    22    13     9     0     0  ...     0

    五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別
0     52    68    37    66    50     0     0  30 臺北市  1 一般
1      1     1     0     0     0     0     0  30 臺北市  1 一般
2     57     0     0     0     0     0     0  30 臺北市  1 一般
3      0     0     0     0     0   316   499  30 臺北市  1 一般
4     60   110    50   115    56     0     0  18 新竹市  1 一般
..   ...   ...   ...   ...   ...   ...   ...     ...   ...
95     0     0     0     0     0     0     0  30 臺北市  2 技職
96    15    34    11     2     0     0     0  30 臺北市  2 技職
97     0     0     0     0     0   181    89  30 臺北市  2 技職
98     0     0     0     0     0    54    14  30 臺北市  2 技職
99     0     0     0     0     0     5     2  30 臺北市  2 技職

[100 rows x 26 columns]

# 1.哪間大專院校有最多的博士生

In [9]:
df1 = df[['學年度', '學校代碼', '學校名稱', '等級別', '總計', '男生計', '女生計']] # 取出想要觀看的欄位
print("本資料集共有", len(df1), "筆紀錄")

df1_1 = df1[df1['等級別'] == 'D 博士']
print("有招生博士學制的學校數量為", len(df1_1), "\n")

df1_1_sorted = df1_1.sort_values(by='總計', ascending=False)
print("112學年度在籍的博士生最多人數第1名為", df1_1_sorted.head(1)["學校名稱"].values)

本資料集共有 764 筆紀錄
有招生博士學制的學校數量為 84

112學年度在籍的博士生最多人數第1名為 ['國立臺灣大學']

# 2. 國立？所；私立？所

In [10]:
type_list = []

for i in df['學校名稱']:
    if ('國立' in i) or ('市立' in i):
        type_list.append('國立')
    else:
        type_list.append('私立')

df['公私立'] = type_list # 將 Dataframe 新增「公私立」column

df2 = df.drop_duplicates('學校代碼')

count = df2['公私立'].value_counts()
print(f"本資料集共收集了 {len(df2)} 所學校，其中公立：{count['國立']} 所；私立：{count['私立']} 所。")

本資料集共收集了 145 所學校，其中公立：47 所；私立：98 所。

# 3. 各等級別學制共有？所

In [11]:

df3 = df.drop_duplicates(subset=['學校名稱', '等級別'])
count = df3['等級別'].value_counts()
degree_list = list(df['等級別'].unique())

print(f"本資料集總共收集了 {len(set(df['學校代碼']))} 所學校，各等級學制當中：")
for degree in degree_list:
    print(f"一共有{count[degree]} 所學校， 有招收{degree[2:]}。")

本資料集總共收集了 145 所學校，各等級學制當中：
一共有84 所學校， 有招收博士。
一共有130 所學校， 有招收碩士。
一共有67 所學校， 有招收學士。
一共有1 所學校， 有招收4+X。
一共有71 所學校， 有招收二技。
一共有66 所學校， 有招收四技。
一共有46 所學校， 有招收五專。
一共有2 所學校， 有招收七年。
一共有46 所學校， 有招收二專。
一共有1 所學校， 有招收二年制。

In [27]:
# 目的是根據體系別（從'體系別'列中取得）統計每個體系別的學校數量，然後列印出來。

# Line14說明，df6 = df.drop_duplicates('學校代碼')
# 使用 drop_duplicates() 函數根據 '學校代碼' 列刪除重複的行，並將結果儲存在 DataFrame df6 中。確保每個學校代碼僅出現一次。

# Line15說明，count = df6['體系別'].value_counts()
# 使用 value_counts() 函數計算 df6['體系別'] 列中每個唯一值的出現次數，並將結果儲存在 count 中。

# Line17說明，print(f"本資料集共收集了 {len(df6)} 所學校，其中：技職體系有 {count['2 技職']} 所；一般體系有 {count['1 一般']} 所；師範體系有 {count['3 師範']} 所。")
# 使用 f-string 格式化輸出，顯示每個體系別的學校數量。len(df6) 表示總學校數量，count['2 技職']、count['1 一般'] 和 count['3 師範'] 分別表示技職體系、一般體系和師範體系的學校數量。



df6 = df.drop_duplicates('學校代碼')
count = df6['體系別'].value_counts()

print(f"本資料集共收集了 {len(df6)} 所學校，其中：技職體系有 {count['2 技職']} 所；一般體系有 {count['1 一般']} 所；師範體系有 {count['3 師範']} 所。")

本資料集共收集了 146 所學校，其中：技職體系有 78 所；一般體系有 62 所；師範體系有 5 所。

# 4. 最多碩士生大學

In [36]:
count = {}

def create_count_dict(df, count): # 建立多層 dict 結構來儲存各校在學與延修生的男女生數
    df7 = df.drop_duplicates('學校代碼')
    for i in df7['學校名稱']:
        count[i] = {}
        count[i]['在學生'] = {}
        count[i]['在學生']['男生數'] = 0
        count[i]['在學生']['女生數'] = 0
        count[i]['延修生'] = {}
        count[i]['延修生']['男生數'] = 0
        count[i]['延修生']['女生數'] = 0


def count_every_schools_data(df):
    for j in range(len(df)):
        count[df.iloc[j,2]]['在學生']['男生數'] += (int(df.iloc[j,8]) + int(df.iloc[j,10]) + int(df.iloc[j,12]) + int(df.iloc[j,14]) + int(df.iloc[j,16]) + int(df.iloc[j,18]) + int(df.iloc[j,20]))
        count[df.iloc[j,2]]['在學生']['女生數'] += (int(df.iloc[j,9]) + int(df.iloc[j,11]) + int(df.iloc[j,13]) + int(df.iloc[j,15]) + int(df.iloc[j,17]) + int(df.iloc[j,19]) + int(df.iloc[j,21]))
        count[df.iloc[j,2]]['延修生']['男生數'] += int(df.iloc[j,22])
        count[df.iloc[j,2]]['延修生']['女生數'] += int(df.iloc[j,23])

create_count_dict(df, count) # 執行Line37定義的Function
count_every_schools_data(df) # 執行Line49定義的Function

In [46]:
# Line6-7說明, df['', ''] 取出想要觀看的欄位，並印出資料集總筆數
# Line9-10說明, df1['等級別'] == 'D 博士' 篩選等級別為"D 博士"的資料，並印出有招生博士學制的學校數量
# Line12-13說明, sort_values(by='總計', ascending=False) 依據總計從大到小排序並印出第一筆結果 (sort_values, by, ascending)


df1 = df[['學年度', '學校代碼', '學校名稱', '等級別', '總計', '男生計', '女生計']] # 取出想要觀看的欄位
print("本資料集共有", len(df1), "筆紀錄")

df1_1 = df1[df1['等級別'] == 'M 碩士']
print("有招生博士學制的學校數量為", len(df1_1), "\n")
top_school_students_count = df1_1_sorted.head(1)["總計"].values[0]
df1_1_sorted = df1_1.sort_values(by='總計', ascending=False)
print("112學年度在籍的碩士生最多人數第1名為", df1_1_sorted.head(1)["學校名稱"].values)
print("共有"+str(top_school_students_count)+"位")

本資料集共有 764 筆紀錄
有招生博士學制的學校數量為 249

112學年度在籍的碩士生最多人數第1名為 ['國立臺灣大學']
共有11328位

# 5.各縣市分別有？所，位於台北市的大專院校總共有幾所

In [23]:
city_list = []

for i in df['縣市名稱']:
    city_list.append(i[3:])

df['縣市名'] = city_list
df4 = df.drop_duplicates('學校代碼')
count = df4['縣市名'].value_counts()
city_list = df4['縣市名'].unique()
print(f"本資料集共收集了 {len(df4)} 學校，其中：")

for city in city_list:
    print(f"{city}有 {count[city]} 所")

newtaipei = df4[df4['縣市名'] == '臺北市']
print('\n') #斷行的用途
print(newtaipei['縣市名'].value_counts())

本資料集共收集了 146 學校，其中：
稱有 1 所
臺北市有 24 所
新竹市有 5 所
臺南市有 13 所
臺中市有 17 所
桃園市有 12 所
高雄市有 15 所
基隆市有 3 所
嘉義縣有 4 所
彰化縣有 4 所
新北市有 20 所
嘉義市有 2 所
花蓮縣有 4 所
南投縣有 2 所
雲林縣有 3 所
屏東縣有 5 所
臺東縣有 2 所
宜蘭縣有 3 所
苗栗縣有 3 所
澎湖縣有 1 所
金門縣有 1 所
新竹縣有 2 所


臺北市    24
Name: 縣市名, dtype: int64

#  6.學生部最少大學

In [49]:
df1 = df[['學年度', '學校代碼', '學校名稱', '等級別', '總計', '男生計', '女生計']] # 取出想要觀看的欄位
print("本資料集共有", len(df1), "筆紀錄")

df1_1 = df1[df1['等級別'] == 'B 學士']
print("有招生大學制的學校數量為", len(df1_1), "\n")

df1_1_sorted = df1_1.sort_values(by='總計', ascending=True)
least_students_count = df1_1_sorted.head(1)["總計"].values[0]
print("112學年度在籍的學生生最少人數第1名為", df1_1_sorted.head(1)["學校名稱"].values)
print("共有"+str(least_students_count)+"位")

本資料集共有 764 筆紀錄
有招生大學制的學校數量為 97

112學年度在籍的學生生最少人數第1名為 ['真理大學']
1

# 新增縣市名、公私立、區域

In [50]:
import pandas as pd

# 假設您已經有一個 DataFrame df，包含了學校名稱、學校代碼、縣市名和區域等信息

# 創建一個空的列表來存放公私立信息
type_list = []

# 遍歷學校名稱列，根據條件判斷公私立性質
for school_name in df['學校名稱']:
    if '國立' in school_name or '市立' in school_name:
        type_list.append('國立')
    else:
        type_list.append('私立')

# 在 DataFrame 中新增「公私立」列
df['公私立'] = type_list

# 創建一個新的 DataFrame，刪除重複的學校代碼，這樣每個學校只會出現一次
df2 = df.drop_duplicates('學校代碼')

# 獲取縣市名稱信息
city_list = []

for city in df['縣市名稱']:
    city_list.append(city[3:])

df['縣市名'] = city_list

# 再次刪除重複的學校代碼，確保每個學校只出現一次
df3 = df.drop_duplicates('學校代碼').copy()  # 複製一份 DataFrame，以避免警告

# 建立縣市到區域的映射關係
city_to_area = {
    '臺北市': '北部',
    '新北市': '北部',
    '基隆市': '北部',
    '新竹市': '北部',
    '桃園市': '北部',
    '新竹縣': '北部',
    '宜蘭縣': '北部',
    '臺中市': '中部',
    '苗栗縣': '中部',
    '彰化縣': '中部',
    '南投縣': '中部',
    '雲林縣': '中部',
    '高雄市': '南部',
    '臺南市': '南部',
    '嘉義市': '南部',
    '嘉義縣': '南部',
    '屏東縣': '南部',
    '澎湖縣': '南部',
    '花蓮縣': '東部',
    '臺東縣': '東部',
    '金門縣': '福建省'
}

# 使用 .loc 來賦值
df3.loc[:, '區域'] = df3['縣市名'].map(city_to_area)

# 創建新的 DataFrame，只包含需要的列
new_df = df3[['公私立', '縣市名', '區域']]
original_df = pd.read_csv('112_student.csv', encoding='utf-8')

# 合併原始 DataFrame 和新的 DataFrame
merged_df = pd.concat([original_df, new_df], axis=1)

# 將合併後的 DataFrame 寫入到新的 CSV 文件中
merged_df.to_csv('112_students_tf.csv', encoding='utf-8', sep=',', index=False)